.weather{
    place-self : center;
    padding : 40px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
    display : flex;
    flex-direction : column;
    align-items: center;
}

.search-bar{
    display : flex;
    align-items : center;
    justify-content : center;
    gap : 10px;
    margin-bottom : 20px;
}

.search-bar input{
    height : 30px;
    width : 200px;
    border-radius : 5px;
    outline : none;
    padding : 25px;
    color : #ebfffc;
    font-size: 20px;
}

.search-bar img{
    width: 20px;
    padding : 15px;
    border-radius : 5px;
    background : #ebfffc;
    cursor : pointer;
}

.weather-icon{
    width: 150px;
    margin: 20px;    
}

.temperature{
    font-size: 50px;
    color : #ebfffc;
    line-height : 50px;
}

.location{
    font-size: 30px;
    color : #ebfffc;
    line-height : 30px;
}

.weather-data{
    width: 150px;
    margin: 20px;
    color : #fff;
    display : flex;
    justify-content: space-between;
}

.weather-data col{
    display : flex;
    align-items: flex-start;
    gap : 12px;
    font-size : 22px;
}

.weather-data col img{
    width: 30px;
    font-size: 22px;
}

.weater-data .col img{
    width: 30px;
    margin-top: 2px;
}


